* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

li {
    list-style: none;
}

p {
    font-size: 0.9rem;
    line-height: 1.6;
    font-weight: 400;
    color: #606060;
}

.header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgb(0, 168, 255, 0.3), rgb(0, 168, 255, 0.3)), url(../img/headerimg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    clip-path: polygon(100% 0%, 100% 75%, 50% 100%, 0 75%, 0 0);
}

.header::before {
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    opacity: .3;
    z-index: -1;
    background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
}

.navbar::before {
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    opacity: .3;
    z-index: -1;
    background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
}

.nav-item a {
    color: #fff !important;
    font-weight: bold;
}

.header-section {
    position: relative;
    width: 100%;
    height: inherit;
    color: white;
    text-align: center;
}

.center-div {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.header-buttons a {
    border: 1px solid #fff;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
}

.header-buttons a:hover {
    color: #50d1c0;
    background: #fff;
    box-shadow: 0 0 20px 0rgba(0, 0, 0, 0, 0.3);
}

.center-div p {
    font-size: 1.3rem;
    color: white;
    padding: 10px 0 20px 0;
}


/*About Section*/

.about-sec {
    width: 100%;
    margin: 100px 0;
    height: auto;
    text-align: center;
}

.about-sec h1 {
    font-size: 2rem;
    font-weight: 900;
}

.about-sec hr {
    background: #50d1c0;
}

.extra-div {
    background: #fff;
    border: medium none;
    padding: 50px !important;
    border-radius: 3px;
    transition: 0.3s;
}

.extra-div h2 {
    font-size: 1.8rem;
    margin: 20px 0 15px 0;
    font-weight: bold;
    line-height: 1.1;
    word-spacing: 4px;
}

.extra-div p {
    font-size: 1.4rem;
}

.about-sec img {
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    border-radius: 50%;
}

.about-sec .about-sec-button a {
    border: 1px solid #50d1c0;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    color: #50d1c0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
}

.about-sec .about-sec-button a:hover {
    color: #f8f8f8;
    background: #50d1c0;
    box-shadow: 0 0 20px 0rgba(0, 0, 0, 0, 0.3);
}


/*Start Education Section*/

.education-Sec h1 {
    text-align: center;
}

.education-Sec .headings h1 {
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
}

.education-Sec h1 {
    text-align: left;
}

.education-Sec .div-2 h1 {
    font-size: 2rem;
}

.education-Sec .div-2 p {
    font-size: 1.7rem;
    color: #fff!important;
}

.education-Sec .div-2 hr {
    background: #ffffff;
}

.education-Sec hr {
    background: #50d1c0;
}

.education {
    background-image: url(../img/aaron-burden-6jYoil2GhVk-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 600px;
    text-align: center;
    color: #fff;
    padding: 25px;
}

.progress {
    font-size: 1rem;
    height: 1.5rem;
}


/*Back to up button*/

.scrollUp {
    display: -webkit-flex;
    display: moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: #fff;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: .5s;
    background: crimson;
    position: fixed;
    bottom: 16px;
    right: 32px;
    height: 60px;
    width: 60px;
    border-radius: 5px;
}

.scrollUp.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
    transform: translateY(-55px);
}


/*Start Project Css*/